/*<--------INC page ------->*/
body{
	background: #070707;
}
.container {

	width: 55%;
	margin: 0 auto;
}
h1 {

	color: #fff;  /* set from photopea */
    font-size: 20px;  /* set from photopea  */
    display: block;
}
p {
	color: #fff;
	font-size: 8px;
}
figcaption {
	color: #fff;
	font-size: 8px;

}
.inc .page-title {

	
}

.inc .page-title h1 {

	color: #ffffff;
	text-align: center;
}

.inc .page-title h2 {

	font-size: 12px;
	color: #818181;
	text-align: left;
          
}

.inc .gallery {
	border-top: solid red 1px;
}

.inc .gallery {

}

.inc .gallery .gallery-images-wrapper {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
}

.inc .gallery-images-54p, .inc .gallery-images-20p, .inc .gallery-images-23p{


}

.gallery-images-54p {
	flex: 0 0 53%; /*width / container width * 100*/
}
.gallery-images-45p{
	flex: 0 0 45%; /*width / container width * 100*/
}
.gallery-images-54p img, .gallery-images-45p img {
	max-width: 100%;
}

/*.gallery-images-20p :nth-child(1){
	flex:1;
	background: yellow;
}
.gallery-images-20p :nth-child(2){
	flex: 1;
	color: yellow;
}*/


.gallery-images-23p {
	flex: 0 0 23%;
	background: cyan;
}


.margin-left {
    margin-left:20px; 
}



/*<----------- Contact Section -------->*/
.inc .contacts {
     display: flex;
     margin-top: 30px;
     margin-bottom: 520px;

}
.inc .contacts-details-wrapper {
	 flex: 0 0 59%; /*315 (width) / 532 (container-width) * 100  */

}
.inc .contacts-details-info {

}
.inc .contacts-details-info {

}

.inc .contact-image-wrapper {
	flex: 0 0 41%; /*220 (width) / 532 (container-width) * 100  */

}

.contact-image-images{
	margin: 0;
}
.contact-image-wrapper .images-wrapper {
	max-width: 100%;
}
.contact-image-wrapper img {
	max-width: 100%;
}
.contact-image-wrapper figcaption {

	margin-top: 35px;
}








