/*<--------INC page ------->*/
body{
	background: #070707;
}
.container {

	width: 55%;
	margin: 0 auto;
}
h1 {

	color: #fff;  /* set from photopea */
    font-size: 20px;  /* set from photopea  */
    display: block;
}
p{
	color: #fff;
	font-size:8px;
}
.inc .page-title {

	
}

.inc .page-title h1 {

	color: #ffffff;
	text-align: center;
}

.inc .page-title h2 {

	font-size: 12px;
	color: #818181;
	text-align: left;
          
}

.inc .gallery {
	border-top: solid red 1px;
}

.inc .gallery {

}

.inc .gallery .gallery-images-wrapper {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
}

.inc .gallery-images-54p, .inc .gallery-images-20p, .inc .gallery-images-23p{


}

.gallery-images-54p {
	flex: 0 0 54%;
	background: pink;
}
.gallery-images-20p{
	flex: 0 0 20%;
	background: skyblue;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.gallery-images-20p :nth-child(1){
	flex:1;
	background: yellow;
}
.gallery-images-20p :nth-child(2){
	flex: 1;
	color: yellow;
}


.gallery-images-23p {
	flex: 0 0 23%;
	background: cyan;
}


.margin-left {
    margin-left:20px; 
}



/*<----------- Contact Section -------->*/
.inc .contacts {
     display: flex;
     margin-bottom: 520px;

}
.inc .contacts-details-wrapper {
	 flex: 0 0 59%; /*315 (width) / 532 (container-width) * 100  */

}
.inc .contacts-details-info {

}
.inc .contacts-details-info {

}
.contact-image-wrapper {
	flex: 0 0 21%; /*220 (width) / 532 (container-width) * 100  */
}

.inc .contact-image-wrapper {

     flex: 1;

  
}

.contact-image-wrapper figcaption::before {
    content: "\2022";
  	color: #fff;
 	font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 12px;
}







